<%- include('../partials/header') %>
<script>
  function changeAction(val) {
    console.log("IS THIS RUNNING");
    // let newAction = this.value;
    document.getElementById('selectIng').action = `/ingredients/${val}/userIngredients`;
  };
</script>

<body class="container  vh-100 text-center text-bg-dark px-5 mb-5"
  style="background: url('https://images.unsplash.com/photo-1591189863345-9db058f9f8ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1496&q=80'); background-repeat: no-repeat; background-size: cover;"">

<div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content border-dark">
      <div class="modal-header checker-board">
        <button type="button" class="btn-close border-dark" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body dark-background">
        <form action="/ingredients" method="post" class="">
          <div class="form-floating mb-3 light-background dark-text rounded-3">
            <input type="text" class="form-control rounded-3 light-background dark-text" name="name" id="floatingInput">
            <label class="rounded-3" for="floatingInput">Ingredient Name</label>
          </div>
          <label class="light-text" for="floatingInput">Quantity Type</label>
          <div class="form-floating mb-3 dark-text">
            <select name="quantityType" class=" rounded-3 light-background dark-text" name="quantityType" id="floatingInput">
              <option value='oz'>oz</option>
              <option value='grams'>gram</option>
              <option value='count'>count</option>
              <option value='liter'>liter</option>
              <option value='cups'>cups</option>
              <option value='quart'>quart</option>
              <option value='gallon'>gallon</option>
            </select>
          </div>
          <button class="btn btn-outline-warning light-background dark-text"type="submit">Add Ingredient</button>

        </form>
      </div>
      <div class="modal-footer rounded-4 checker-board">
      </div>
    </div>
  </div>
  </div>

  <div class="container text-light rounded-4 lifted i-table p-5 my-5">
    <h2 class="dark-text rounded-4">My Ingredients</h2>
    <button type="button" class="btn btn-light btn-outline-warning dark-background light-text" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Submit New Ingredient
    </button>
    <div class="table-responsive" max-width="50">
      <table class="table table-striped dark-text table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity Type</th>
            <th scope="col">Quantity Amount</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%  userIngredients.forEach(function(i) { %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.quantityType %></td>
            <td>
              <form action="/userIngredients/<%= i.users.find(u => u.id)._id %>?_method=PUT" id="" method="POST" class="">
                <div class="input-group mb-1 ">
                  <input name="qty" class="form-control form-control-sm light-background dark-text" type="number" placeholder="<%= i.users.find(u => u.id).qty %>" aria-describedby="">
                </input>
                  <button class="btn dark-background btn-outline-warning light-text" type="submit" id="button-addon2 ">Update</button>
                </div>
              </form>
            </td>
            <td>
              <form action="/userIngredients/<%=  i.users.find(u => u.id)._id %>?_method=DELETE" id=""
                method="POST" class="">
                <button class="btn dark-background btn-outline-warning light-text" type="submit" id="">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>

        </tbody>
      </table>
      <form action="" id="selectIng" method="post" class="">
        <div class="input-group mb-3">
          <select class="form-select dark-background light-text" aria-label="Default select example" aria-describedby="button-addon2" onchange="changeAction(this.value)">
            <option class="btn-outline-warning" selected>Select Ingredients</option>
            <% ingredients.forEach(function(i, idx) { %>
            <option value="<%= i._id %>"><%= i.name %> (<%= i.quantityType %>)</option>
            <% }); %>
          </select>
          <button class="btn btn-light btn-outline-warning dark-text" type="submit" id="button-addon2">Add</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container footer partials bg-opacity-100 small-text">T</div>
</body>

<%- include('../partials/footer') %>