<%- include('../partials/header') %>
<body class="container vh-100 text-center text-bg-dark rounded-4" style= "background: url('https://images.unsplash.com/photo-1547516508-4c1f9c7c4ec3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80'); background-repeat: no-repeat; background-size: cover;">
    <div class="container invis-holder">
    
    <div class="container recipe-form rounded-4">
        <div class="row">
            <div class="col">
                <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="col">
                <label for="exampleInputEmail1" class="form-label" id="diet">Diet Type</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <form action="/userIngredients" id="selectIng" method="post" class="">
                <div class="input-group mb-3">
                  <select class="form-select" aria-label="Default select example" aria-describedby="button-addon2" onchange="changeAction(this.value)">
                    <% ingredients.forEach(function(i, idx) { %>
                    <option value="<%= i._id %>"><%= i.name %> (<%= i.quantityType %>)</option>
                    <% }); %>
                  </select>
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
                </div>
              </form>
            <div class="col">
                <label for="exampleInputEmail1" class="form-label">Quantity Type</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="col">
                <label for="exampleInputEmail1" class="form-label" id="diet">Quantity</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row text-holder">
            <label class="form-label">Directions</label>
            
            <textarea class="form-control" rows="8" name = "description">
                Enter details here...
            </textarea>
        </div>
        
    </div>
        
</div>
</body>



<%- include('../partials/footer') %>