<%- include('../partials/header') %>

<body class="container vh-100 text-center text-bg-dark px-4"
    style="background: url('https://images.unsplash.com/photo-1591189863345-9db058f9f8ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1496&q=80'); background-repeat: no-repeat; background-size: cover;"">



  <div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header checker-board">
               
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body dark-background bg-opacity-50 dark-text">
                <form action="/recipes" method="post" class="">
                    <div class="form-floating mb-3 dark-text">
                        <input type="text" class="form-control rounded-3 light-background dark-text" name="name" id="floatingInput">
                        <label for="floatingInput ">Recipe Name</label>
                    </div>
                    <div class="form-floating mb-3 dark-text">
                        <input type="text" class="form-control rounded-3 light-background dark-text" name="preparationTime" id="floatingInput">
                        <label for="floatingInput">Preparation Time</label>
                    </div>
                    <div class="form-floating mb-3 dark-text rounded-3">
                        <!-- <label for="floatingInput">Quantity Type</label> -->
                        <select name="diet" class="form-floating  light-background dark-text rounded-3" name="quantityType" id="floatingInput">
                            <option class="light-background dark-text" value='Omnivore'>Omnivore</option>
                            <option class="light-background dark-text " value='Vegetarian'>Vegetarian</option>
                            <option class="light-background dark-text border" value='Vegan'>Vegan</option>
                        </select>
                    </div>
                    <div class="form-floating">
                        <button class="btn btn-outline-warning light-background dark-text" type="submit">Create Recipe</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer rounded-4 checker-board">
            </div>
        </div>
    </div>
</div>
    <div class="container text-light rounded-4 lifted i-table mt-5 px-5">
        <h2 class="dark-text rounded-4">Recipes</h2>
        <button type="button" class="btn btn-outline-warning dark-background light-text" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create New Recipe
        </button>
        <a href="/recipes/available">AVAILABLE RECIPES</a>
        <div class="table-responsive" max-width="50">
            <table class="table table-striped dark-text table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Diet</th>
                        <th scope="col">Preparation Time</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <%  recipes.forEach(function(r) { %>
                    <tr>
                        <td><%= r.name %></td>
                        <td><%= r.diet %></td>
                        <td><%= r.preparationTime %></td>

                        <td>
                            <form action="/recipes/<%=  r._id %>" method="GET" class="">
                                <button class="btn btn-outline-warning dark-background light-text" type="submit" id="">View</button>
                            </form>
                        </td>
                        <td>
                            <form action="/recipes/<%=  r._id %>/edit" method="GET" class="">
                                <button class="btn btn-outline-warning dark-background light-text" type="submit" id="">Edit</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>